.methodContainer {
  height: 100vh;
}

.methodSubtitle {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 500px;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  margin-bottom: 1em;
}

.trainerListWrapper {
  padding-top: 7em;
  text-align: center;
}
